@model List<Contact>

@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Style.css" />
<main class="content px-3 py-2">
    <div class="container-fluid">
        @* <div class="mb-3">
        <h4 style="text-align:center">Requests</h4>
        </div> *@
        <div class="container text-center mt-4">
            @* <a asp-controller="Requests" asp-action="AddRequest"><button>add Request</button></a> *@
            <!-- Table Element -->
            <div class="card border-0">
<h1 style="color:black;">Contact Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            @* <th>Address</th> *@
            <th>Comments</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.PhoneNo</td>
               @*  <td>@item.Address</td> *@
                <td>@item.Comments</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.ContactID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

            </div>
        </div>
    </div>
    </div>
</main>