@model List<ApplicationUser>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/css/Style.css" />
<main class="content px-3 py-2">
    <div class="container-fluid">
        <div class="mb-3">
            <h2 style="text-align:center">Users</h>
        </div>
        <div class="container text-center mt-4">
            @* <a asp-controller="Admin" asp-action="ViewUsers"><button>View Users</button></a> *@
            <!-- Table Element -->
            <div class="card border-0">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>PhoneNo</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>@user.Name</td>
                                    <td>@user.Email</td>
                                    <td>@user.Address</td>
                                    <td>@user.PhoneNo</td>
                                    <td>
                                        <a asp-action="EditEmployee" asp-route-id="@user.Id">
                                            <button class="btn btn-primary btn-sm mx-auto w-20">Edit</button>
                                        </a>
                                        |
                                        <a asp-action="DeleteEmployee" asp-route-id="@user.Id">
                                            <button class="btn btn-danger btn-sm mx-auto w-40 text-center"
                                                    onclick="return confirm('Are you sure you want to delete this user?');">
                                                Delete
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
