@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var userFirstName = user?.Name;
}



<ul class="navbar-nav flex-grow-1 list-group-horizontal justify-content-end">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @userFirstName</a>
            @* <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-action="EditProfile" asp-controller="Artist"  title="Manage">Hello @userFirstName</a> *@

        </li>

    }
    else
    {
   
        <li class="nav-item dropdown">
            <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                <img src="~/images/userProfile.jpg" class="avatar img-fluid rounded" alt="">
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <a href="@Url.Action("Login", "Account")" class="dropdown-item">Admin</a>
                <a href="@Url.Action("Login", "Account")" class="dropdown-item">Students</a>
                <a href="@Url.Action("Login", "Account")" class="dropdown-item">Employee</a>
            </div>
        </li>
    }
</ul>
