@model List<Feedback>

@{
    ViewData["Title"] = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Style.css" />
@* //view //edit *@
<main class="content px-3 py-2">
    <div class="container-fluid">
        @* <div class="mb-3">
        <h4 style="text-align:center">Requests</h4>
        </div> *@
        <div class="container text-center mt-4">
            @* <a asp-controller="Requests" asp-action="AddRequest"><button>add Request</button></a> *@
            <!-- Table Element -->
            <div class="card border-0">
<h2 style="color:black;">Feedback</h2>

<table class="table">
    <thead>
        <tr>
            @* <th>ID</th> *@
            <th>Rating</th>
            <th>Feedback</th>
            <th>DateTime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
              @*   <td>@item.FeedbackID</td> *@
                <td>@item.Rating</td>
                <td>@item.Feadback</td>
                <td>@item.dateTime</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FeedbackID">
                        <button class="btn btn-primary btn-sm mx-auto w-20">Edit</button>
                        </a> |
                    <a asp-action="Delete" asp-route-id="@item.FeedbackID">
                        <button class="btn btn-danger btn-sm mx-auto w-40 text-center"
                                onclick="return confirm('are you sure you want to delete this request with id : @item.FeedbackID and datetime : @item.dateTime?');">
                            delete
                        </button>
                    </a>
                    </td>
            </tr>
        }
    </tbody>
</table>

            </div>
        </div>
    </div>
    </div>
</main>